/* Add your custom styles here */

.btn-purple {
    background-color: #2f3095;
    color: #fff;
  }
  .btn-purple:hover{
    font-weight: 400;
      border:2px solid #2f3095;
  }
  
  .text-purple {
    color: #2f3095;
    font-weight: bold;
  }
  
  
  @media screen and (min-width: 375px) and (max-width: 768px) {
    .homepage-image{
      margin-top: 50px;
    }
      }
  @media screen and (min-width: 320px) and (max-width: 364px) {
    .homepage-image{
      margin-top: 120px;
    }
      }