.card-logout {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #85769f66;
    color: black;
}

.card-logout-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-logout-body button {
    margin-top: 10px;
}
.btn-logout{
background: none;
border: 2px solid #2f3095;
}
.btn-logout:hover{
    background-color: #2f3095;
    color: #fff;
}
.btn-blue:hover{
background: none;
border: 2px solid #2f3095;
}
.btn-blue{
    background-color: #2f3095;
    color: #fff;
}